.navigation {
  position: absolute;
  top: 25px;
  left: 115px;
  transform: scale(0.5);
}
.listing-page,
.product-page {
  margin-top: 500px;
}
.currency {
  height: 45px;
  padding-left: 20px;
  text-align: left;
  border: none;
  background-color: white;
  transform: scale(0.5);
}
