//colors-palette
$bg-color: rgb(255, 255, 255);
$primary-color: #5ece7b;
$text-color: #8d8f9a;

// box shadow
$hover-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

//fonts
$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-source-sans-pro: "Source Sans Pro", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
