@import '../scss/variables';

.overlay-container {
  position: relative;
  max-width: 1238px;
  width: 95%;
  margin: auto;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.currency-overlay {
  background-color: rgba(57, 55, 72, 0);
}
.currency-popover {
  position: absolute;
  top: 65px;
  right: -10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 114px;
  box-shadow: 0px 4px 35px 0px #a8acb030;
  z-index: 1000;
}
.currency-option {
  height: 45px;
  padding-left: 20px;
  font-family: $font-raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  border: none;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: #eeeeee;
  }
}
.selected-currency {
  background-color: #eeeeee;
}
