@import '../../../Shared/scss/variables.scss';

.atr-box {
  display: flex;
  flex-direction: column;
}
.atr-title {
  font-family: $font-roboto-condensed;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  margin-bottom: 8px;
}
.value-box {
  display: flex;
  gap: 12px;
}
.value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  padding: 5px;
  border: 1px #1d1f22 solid;
  font-family: $font-source-sans-pro;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  background-color: white;
}
.selected {
  background-color: black;
  color: white;
}
