@import '../../scss/mixins';
.box {
  width: 121px;
  height: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.shadow {
  @include shadowImg;
}
.img {
  width: 90%;
}
